
<div class="row" 
     style = "background-color :#F0F7D4;
             margin-top: 10px;
             border-radius: 3px;"
     >
    <div class = " pull-left" >
        <p>  {{ task.taskName }} </p>
    </div>
    <span class="pull-right">
        <button type = "button"
        class = "btn btn-primary" 
        (click) = "onEditTask();" ><i class="fa fa-pencil"></i>
        </button>
        <button type = "button" 
        style = "margin-left: 5px;" 
        class = "btn btn-danger"
        (click) = "onDeleteTask();">x </button>
    </span>
</div>
<br>