

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #c96828 !important;
}

#right-panel {
    background-color: #B3D733 ;
}

#menu {
    background-color:#110934;
    color: white 
}

